<%= render 'layouts/header' %>


<h2><% @ratings.each do |rating|%></h2>
 
  <h3><%= link_to "View other Ratings for this Wine", wine_ratings_path(:id) %></h3>
  <p><%= rating.wine %></p>
  <p><%= rating.description %></p>
  <% end  %> 