<%= render 'layouts/header' %>


<h2><% @ratings.each do |rating|%></h2>
 
  <h3><%= link_to "View this Users Ratings", user_ratings_path(rating) %></h3>
  <p><%= rating.wine %></p>
  <p><%= rating.description %></p>
  <% end  %> 